body {
  width: 1200px;
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

svg {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.main-navigation {
  width: 1200px;
  min-height: 60px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  min-height: 60px;
  margin: 0px;
  list-style: none;
}

.navigation-item {
  display: block;
  width: 240px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: -65px;
  color: #000000;
}


.navigation-item:hover,
.navigation-item:focus {
  color: #81b3d2;
}

.header-logo {
  position: absolute;
  left: 530px;
  text-align: center;
  order: 2;
}

.main-banner {
  background-color: #90b2d0;
  margin: 0px;
}

.banner-container {
  display: flex;
  position: relative;
  width: 1200px;
  margin: 0px;
}

.banner-image {
  position: relative;
  width: 1200px;
  min-height: 510px;
  margin: 0px;
  margin-bottom: -15px;

  background-image: url("../img/mine-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.banner-type {
  position: absolute;
  width: 460px;
  min-height: 353px;
  left: 370px;
  top: 76px;
  margin: 0px;
  background-image: url("../img/banner-welcome.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.invite {
    text-align: center;
    background-color: #ffffff;
    margin-top: 17px;
  }

.invite-type-container {
  display: inline-block;
  width: 580px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.invite-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.invite-subtitle {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
}

.invite-reasons-major-true-town {
  display: flex;
  margin: 0px;
  margin-bottom: 50px;
  padding: 0px;
}

.invite-reasons-major-true-town-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.invite-features-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0px;
  margin-bottom: 50px;
  padding: 0px;

  background-color: #ffffff
}

.invite-features-type-text {
  width: 300px;
}

.invite-features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.invite-reasons {
  padding-top: 50px;
  background-color: #eeeeee;
}

.invite-reasons-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.invite-reasons-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-bottom: 50px;
}

.invite-reasons-title {
  width: 150px;
}

.invite-reasons-text {
  display: inline-block;
  width: 575px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  width: 250px;
}

.invite-reasons-major-true-town-type,
.invite-reasons-major-devils-bridge-type {
  background-color: #81b3d2;
}

.invite-reasons-major-devils-bridge {
  display: flex;
  flex-direction: row-reverse;
  margin: 0px;
  padding: 0px;
}

.invite-reasons-major-devils-bridge-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.invite-reasons-major-title {
  width: 200px;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.reasons-major-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
}

.invite-reasons-major-text {
  width: 300px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
}

.devils-bridge-text {
  width: 320px;
}

.invite-features-type-title {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.invite-features-type-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.invite-reasons-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  background-color: #eeeeee;
}

.invite-reasons-title {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.invite-reasons-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.search-hotel {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background-color: #ffffff;
}

.search-hotel-text-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-hotel-text-tagline {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

.search-hotel-button {
  display: block;
  width: 575px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  border: none;
  color: #ffffff;
  background-color: #766357;
}

.search-hotel-button:hover {
  background-color: #604e43;
}

.search-hotel-button:active {
  color: #857871;
  background-color: #503e33;
}

.main-footer {
  padding: 20px 70px;
  background-color: rgba(255, 255, 255, 0,1);
}

.footer-container {
  display: flex;
  align-items: center;
  width: 1200px;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  width: 400px;
}

.social {
  display: flex;
  list-style: none;
  width: 400px;
}

.social-button {
  display: flex;
  width: 46px;
  height: 48px;
  margin: 6px;

  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-icon {
  color: #ffffff;
  margin: auto;
}

.social-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.social-button:active .social-icon {
  color: #88b6d1;
}

.footer-logo-academy {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  width: 400px;
}

.logo-academy-button {
  color: #231F20;
}

.logo-academy-button:hover {
  color: #81b3d2;
}

.logo-academy-button:active {
  color: #bdbbbc;
}

.modal-search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -17px;
  background-color: #ffffff;
}

.search-hotel-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
  margin-top: -18px;
  width: 575px;
  background-color: #ffffff;
  z-index: 2;
}

.search-hotel-date {
  width: 310px;
}

.search-hotel-number {
  width: 40px;
}

.main-map {
  position: relative;
  top: -172px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -172px;
  width: 1200px;
  z-index: 1;
}

.search-hotel-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  width: 465px;
}

.search-hotel-person {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  min-width: 190px;
  margin: 0px;

}

.search-hotel-calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-hotel-date,
.search-hotel-title {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.search-input {
  background-color: #f2f2f2;
  border: none;
}

.search-input:hover {
  background-color: #ebebeb;
}

.search-input:focus {
  background-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-color: #e5e5e5;
}

.search-hotel-icon,
.search-hotel-less,
.search-hotel-more {
  color: #cacaca;
  background-color: #f2f2f2;
  border: none;
}

.search-hotel-icon:hover,
.search-hotel-less:hover,
.search-hotel-more:hover {
color: #000000;
}

.search-hotel-icon:active,
.search-hotel-less:active,
.search-hotel-more:active {
  color: #81b3d2;
  background-color: #ffffff;
}

.modal-search-hotel-button {
  align-self: center;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  border: none;
  width: 460px;
  text-align: center;
  background-color: #81b3d2;
}

.modal-search-hotel-button:hover {
  background-color: #669ec0;
}

.modal-search-hotel-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.site-navigation-current {
  color: #766357;
}

.hotels-container {
  color: #000000;
  background-color: #ffffff;
}

.hotels-catalog {
  list-style: none;
}

.hotels-list {
  list-style: none;
}

.hotels-item-image {
  text-align: left;
}

.hotels-item-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotels-item-title:hover {
  color: #81b3d2;
}

.hotels-item-title:active {
  color: #c9c9c9;
  background-color: #88b6d1;
}

.hotel-item-pricetag-name,
.hotel-item-pricetag-price {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.button-left {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: #81b3d2;
}

.button-left:hover{
  background-color: #669ec0;
}

.button-left:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.button-right {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: #766357;
}

.button-right:hover {
  background-color: #604e43;
}

.button-right:active {
  color: #857871;
  background-color: #503e33;
}

.hotels-item-rating-value {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #666666;

  background-color: #f2f2f2;
}
.hotels-item-rating-value::before {
  background-image: url("../img/star.svg");
}
